:root {
    --colors:rgb(21, 29, 95);
    --background:white;
}

header{
    background:var(--background);
    text-align:center;
    position:fixed;
    z-index: 1000;
    width: 100%; 
}

*, *::before, *::after {
    box-sizing: border-box;
}


body{
    margin:0;
    height: 100%;
}

.content{
    height: 100%;
    background-color:rgb(255, 255, 255);
    background-blend-mode: multiply;
    background-size:cover;
    display:grid;
}

.logo{
    color:var(--colors);
font-family: Arial, Helvetica, sans-serif;

}

nav{
    background: var(--background);
    width:100%;
    position:absolute;
    text-align: left;
    top:100%;
    left:0;
    transform: scale(1, 0);
    transform-origin: top;
    transition:  transform 200ms ease-in-out;
}

.nav-toogle:checked ~ nav{
    transform: scale(1, 1);
    
    }

    .nav-toogle:checked ~ nav a {
        opacity:1;
        transition: opacity 150ms ease-in-out 150ms;

    }

nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li {

    margin-bottom:1em;
    margin-left:1em;
}
nav a {
    color:var(--colors);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color:black;
}

nav ul li ul li {
    display:none;
}


/*  DISPLAY UL LI ON HOVER */
nav> ul> li:hover ul li {
    display:block;
}
/*  DISPLAY UL LI ON HOVER */


.nav-toogle{
    display:none;
}

.nav-toogle-label{
    position: absolute;
    top:0;
    left:0;
margin-left: 1em;
height: 100%;
display:flex;
align-items:center;
}


.burger-icon{
    height: 30px;
    cursor: pointer;
 
}


@media screen and (min-width: 800px){

    nav {
        all:unset;
    
        grid-column: 3 / 4;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 16px;

    }

    .nav-toogle-label{
        display: none;
    }

header{

    display:grid;
    grid-template-columns:  1fr auto minmax(600px, 3fr) 1fr;
}

.logo {
grid-column: 2/3;
}

 
 nav a{
     
     opacity:1;
     position:relative;
     top:20px;
 }

nav ul {
    display:flex;
    justify-content: flex-end;
}
nav li{
    margin-left: 3em;
    margin-bottom:0;
}

nav a::after {
    content:'';
    display:block;
    height: 3px;
    background: var(--colors);
    transform: scale(0, 1);
    transform-origin:left;
    transition: transform ease-in-out 200ms;

}

nav a:hover::after{

    transform:scale(1,1);
}

.content{
    display: grid;

}

.product1{
    position: relative;
    height: 400px;
    grid-column: 4/5;
    top:100px;
}

.product1text{
    position:relative;
    grid-column:2/3;
    top:200px;

}



}